<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Timeline Charts</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href="css/index.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">

            <div class="starter-template">
                <h1 style="text-align:center">Timeline charts</h1>
                <p class="lead" style="text-align:center">Create timeline charts dynamically, using URL + Parameters<br/><br/>
                    Content comes from Wikipedia (see : <a href="https://www.wikidata.org">https://www.wikidata.org</a>, gentle API's tricky :D). Create a chart, use URL :
                    <b>{{host}}?q=&lt;wikipedia_name1&gt;|&lt;wikipedia_name2&gt;|...</b>
                    <br/><br/>
                    <b>
                        Example :
                    </b>
                    <a href="{{host}}?q=The_Rolling_Stones|(I_Can't_Get_No)_Satisfaction|Exile_on_Main_St|Miss_You_(The_Rolling_Stones_song)">
                        {{host}}?q=The_Rolling_Stones|(I_Can't_Get_No)_Satisfaction|Exile_on_Main_St|Miss_You_(The_Rolling_Stones_song)</a>
                    <br/><br/>
                    Will create this chart :<br/>
                    <img src="image/sample-timeline-chart.png" width="50%"/>
                    <br/><br/>
                  </p>
                  <p>
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">
                            Entries
                          </th>
                        </tr>
                        <tr>
                          <th>Entry</th>
                          <th>URL</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>The_Rolling_Stones</td>
                          <td><a href="https://en.wikipedia.org/wiki/The_Rolling_Stones">https://en.wikipedia.org/wiki/The_Rolling_Stones</a></td>
                        </tr>
                        <tr>
                          <td>(I_Can't_Get_No)_Satisfaction</td>
                          <td><a href="https://en.wikipedia.org/wiki/(I_Can't_Get_No)_Satisfaction">https://en.wikipedia.org/wiki/(I_Can't_Get_No)_Satisfaction</a></td>
                        </tr>
                        <tr>
                          <td>Exile_on_Main_St</td>
                          <td><a href="https://en.wikipedia.org/wiki/Exile_on_Main_St">https://en.wikipedia.org/wiki/Exile_on_Main_St</a></td>
                        </tr>
                        <tr>
                          <td>Miss_You_(The_Rolling_Stones_song)</td>
                          <td><a href="https://en.wikipedia.org/wiki/Miss_You_(The_Rolling_Stones_song)">https://en.wikipedia.org/wiki/Miss_You_(The_Rolling_Stones_song)</a></td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th colspan="2">
                            Options
                          </th>
                        </tr>
                        <tr>
                          <th>Option</th>
                          <th>Example</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><b>colors=&lt;html-color1&gt;|&lt;html-color1&gt;</b></td>
                          <td><a href='{{host}}?q=The_Rolling_Stones|The_Beatles|The_Who&colors=cbb69d|603913'>
                              &colors=cbb69d|603913</a></td>
                        </tr>
                        <tr>
                          <td><b>tillNow=true</b>, max date to now</td>
                          <td><a href="{{host}}?q=Robert_Johnson|Brian_Jones|Alan_Wilson_(musician)|Jimi_Hendrix|Janis_Joplin|Jim_Morrison|Kurt_Cobain|Amy_Winehouse&colors=000000&tillNow=true">
                              &tillNow=true</a></td>
                        </tr>
                        <tr>
                          <td><b>title=custom title</b></td>
                          <td><a href="{{host}}?q=Robert_Johnson|Brian_Jones|Alan_Wilson_(musician)|Jimi_Hendrix|Janis_Joplin|Jim_Morrison|Kurt_Cobain|Amy_Winehouse&colors=000000&tillNow=true&title=27 Club">
                              &title=27 Club</a></td>
                        </tr>
                    </table>
                  </p>
                  <h3>They use timeline-chart :
                  <p><i>"Since I've been using timeline-chart on a daily basis, my life will never be the same again, there will a before and an after" <br/><b>Mathieu Ancelin</b>, <b>Javaslang</b> Technical Advocate, <b>Vaadin</b> Evangelist</i><p>
                  <p><i>"How did people do before timeline-chart?"</i><br/><b>Sébastien Prunier</b>, author of <i>Bonita Open Solution 5.x Essentials, <b>Wicket</b> Evangelist</i><p>
              <p style="text-align:center">
                <img src="image/GitHub-Mark-64px.png"></img>&nbsp;<a href="https://github.com/cwoodrow/timeline-chart">Github</a><br/><br/>
              </p>
            </p>

        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            },
            i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86862021-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
